<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= currentCategory.charAt(0).toUpperCase() + currentCategory.slice(1) %>
    </title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <% const categories = ['mains',
    'desserts', 'sides']; %>
    <h1>
      <%= currentCategory.charAt(0).toUpperCase() + currentCategory.slice(1)%>
    </h1>
    <% categories.forEach(category => { %>
    <ul>
      <% if (menuItems[category] && menuItems[category].length > 0) { %> <%
      menuItems[category].forEach(item => { %>
      <li><strong><%= item.name %></strong> - $<%= item.price %></li>
      <p>Rating is: <%= item.rating %> <%= item.rating === 5 ? 'â­' : '' %></p>
      <p>Details: <%= item.details %></p>
      <% }) %> <% }%>
    </ul>
    <% }) %>
  </body>
</html>
