<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <!-- Dynamic title -->
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> <% const categories = ['mains',
    'desserts', 'sides']; %>
    <h1>Full Menu</h1>

    <!-- Define categories -->

    <% categories.forEach(category => { %>

    <!-- Loop through each category -->
    <h2><%category.charAt(0).toUpperCase() + category.slice(1) %></h2>
    <!-- Display category name -->
    <ul>
      <% if (menuItems[category] && menuItems[category].length > 0) { %> <%
      menuItems[category].forEach(item => { %>
      <li><strong><%= item.name %></strong> - $<%= item.price %></li>
      <p>Rating is: <%= item.rating %></p>
      <p>Details: <%= item.details %></p>
      <% }) %> <% }%>
    </ul>
    <% }) %>
  </body>
</html>
