<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs")%>
    <h1>Full Menu</h1>

    <h2>Mains</h2>

    <ul>
      <% categorizedMenus.mains.forEach(item => { %>
      <li><strong><%= item.name %></strong> - $<%= item.price %></li>
      <br />
      Rating: <%= item.rating %><%= item.rating === 5 ? ' ⭐' : '' %>
      <br />
      <p><%= item.details %></p>
      <% }) %>
    </ul>

    <h2>Desserts</h2>
    <ul>
      <% categorizedMenus.desserts.forEach(item => { %>
      <li><strong><%= item.name %></strong> - $<%= item.price %></li>
      <br />
      Rating: <%= item.rating %><%= item.rating === 5 ? ' ⭐' : '' %>
      <br />
      <p><%= item.details %></p>
      <% }) %>
    </ul>

    <h2>Sides</h2>
    <ul>
      <% categorizedMenus.sides.forEach(item => { %>
      <li><strong><%= item.name %></strong> - $<%= item.price %></li>
      <br />
      Rating: <%= item.rating %><%= item.rating === 5 ? ' ⭐' : '' %>
      <br />
      <p><%= item.details %></p>
      <% }) %>
    </ul>
  </body>
</html>
